@import "tailwindcss";

@theme {
  --color-primary: #FF4500;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Force Rebuild Build-ID: 2026-04-15-16-20 */
body {
  background-color: #030712; /* gray-950 */
  color: #f9fafb; /* gray-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

