
-- Tabela de Motoboys
create table if not exists public.delivery_people (
    id uuid default gen_random_uuid() primary key,
    restaurant_id uuid references public.restaurants(id) on delete cascade not null,
    name text not null,
    phone text,
    is_active boolean default true,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Adicionar motoboy ao pedido
alter table public.orders add column if not exists delivery_person_id uuid references public.delivery_people(id) on delete set null;

-- RLS para Motoboys
alter table public.delivery_people enable row level security;

create policy \
Owner
can
manage
delivery
people\ on public.delivery_people 
  for all using (
    exists (select 1 from public.restaurants where restaurants.id = delivery_people.restaurant_id and restaurants.user_id = auth.uid())
  );

create policy \SuperAdmin
can
manage
all
delivery
people\ on public.delivery_people
  for all using (
    exists (select 1 from public.super_admins where email = auth.jwt() ->> 'email')
  );

